<html>
<head>
  <meta charset="utf-8">
  <title>Eco Health System</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
       <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
    <body>
    <div id="landing-header">
      <% if(isAuthenticated){ %>
 		   <h1>Welcome to Appointment Scheduler!</h1>
       <a href="/appointments" class="btn btn-lg btn-success">All Appointments</a>
      <% } else { %>
       <h1>Welcome to Appointment Scheduler!</h1>
       <h1><%= success %></h1>
		      <a href="/login" class="btn btn-lg btn-success">Login</a>
          <a href="/register" class="btn btn-lg btn-success">Sign-Up</a>
      <% }; %>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
