<% include partials/header %>
<div class="container-fluid">
  <ul class="bg-image-login">
    <li>
  <div class="row">
    <div class="col-md-12">
      <div class="form-design">
        <form action="/login" method="POST">
          <div class="title">
             <h1>Login</h1>
             </div>
            <div class="input-info">
              <input type="text" name="username" placeholder="User Name">
              <input type="password" name="password" placeholder="Password">
              <input type="submit" value="Login">
            </div>
        <form>
      </div>
    </div>
      </li>
    </ul>
  </div>
</div>
