<% include partials/header %>
  <div class="container-fluid">
    <ul class="bg-image-register">
      <li><li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        <div class="form-design-signup">
          <form action="/register" method="POST">
            <div class="title">
               <h1>Sign-Up</h1>
               </div>
               <div class="row">
                 <div class="col-md-6">
                    <div class="signup-info-left">
                      <input type="text" name="fname" placeholder="First Name">
                      <input type="text" name="lname" placeholder="Last Name">
                      <input type="text" name="username" placeholder="username">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="signup-info-right">
                      <input type="password" name="password" placeholder="Password">
                      <input type="text" name="title" placeholder="Title">
                      <input type="submit" value="Sign-Up">
                    </div>
                  </div>
              </div>
          <form>
        </div>
      </div>
    </div>
  </div>
