<% include partials/header %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="title-show">
          <h1>Appointment Scheduler</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="addNew">
          <a class="btn btn-primary" href="/">Add New Appointment</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th>Physician Name</th>
            <th>Reason for Appointment</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Edit Info</th>
            <th>Delete Info</th>
          </tr>
          <tr>
            <td>Shereal</td>
            <td>McNeal</td>
            <td>8163459078</td>
            <td>12/23/2018</td>
            <td>8:00 AM</td>
            <td>Dr Full Metal</td>
            <td>Check Up</td>
            <td>tneal</td>
            <td>12/01/18</td>
            <td><a class="btn btn-info" href="/">Edit</a></td>
          <form action"/" method="POST">
            <td><button class="btn btn-danger">Delete</button></td>
          </form>
          </tr>
        </table>
      </div>
    </div>
  </div>
