@import "/stylesheets/header.css";
@import "/stylesheets/login.css";
@import "/stylesheets/register.css";
@import "/stylesheets/new.css";
@import "/stylesheets/show.css";


body {
  font-family: 'Montserrat', sans-serif;
}

button:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.form-control:focus {
  border-color: white;
  box-shadow: none;
}
